.Description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: em(40px);
  max-width: em(849px);
  margin-bottom: em(49px);
  @include ifmobile {
    grid-template-columns: 1fr;
    margin-bottom: em(75px);
  }
}

.PortfolioItems {
  list-style: none;
  padding-bottom: em(116px);
  @include iftablet {
    padding-bottom: em(100px);
  }
  @include ifmobile {
    padding-bottom: em(80px);
  }

  li {
    display: flex;
    margin-bottom: em(20px);
    @include ifmobile {
      margin-bottom: em(16px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
