$black: #1a1a1a;
$green: #114c29;
$yellow: #e8e268;

$speed: 0.3s;
$navbar-height: 76px;
$top-padding: calc($navbar-height + 105px);

//Manhattan variables
$white: #ffffff;
$dirty_blue: #1d2747;
$dark4: #060812;
$blue: #2e3d8d;
$blue30: #c3cffe;
$blue50: #2e3c8d;
$blue200: #b2bae6;
$blue900: #0d1026;
$grey: #948f8f;
$darkBlue: #0d1126;
$red: #ef4343;

$font-Avenir: 'Avenir Next', sans-serif;
