.OurPorftolio {
  padding-top: em(168px);
  position: relative;

  &_Gradient {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: em(164px);
    background: linear-gradient(180deg, #1d2747 0%, #314764 100%);
  }

  @include iftablet {
    padding-top: em(144px);
  }
  @include ifmobile {
    padding-top: em(120px);
  }

  &_Header {
    margin-bottom: em(112px);
    @include ifmobile {
      margin-bottom: em(43px);
    }

    .Title {
      margin-bottom: em(24px);
      @include iftablet {
      }
      @include ifmobile {
      }
      h1 {
        font-weight: 500;
        font-size: em(40px);
        line-height: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        @include iftablet {
          font-size: em(32px);
        }
        @include ifmobile {
          font-size: em(22px);
        }
      }
    }

    .Subtitle {
      margin-bottom: em(57px);
      p {
        font-weight: 400;
        font-size: em(24px);
        line-height: 133%;
        color: $white;
        @include iftablet {
          font-size: em(18px);
        }
        @include ifmobile {
          font-size: em(16px);
        }
      }
    }

    .Button {
      width: em(320px);
      height: em(56px);
      @include iftablet {
        width: em(260px);
        height: em(44px);
      }
      @include ifmobile {
        width: 100%;
        height: em(44px);
      }
    }
  }

  &_SliderContent {
    position: relative;
    height: em(560px);
    @include iftablet {
      height: em(480px);
    }
    @include ifmobile {
      height: 100%;
      // min-height: em(640px);
      background: $dark4;
    }

    .ActiveSlideBg,
    .NextSlideBg {
      position: absolute;
      bottom: 0;
      @include ifmobile {
        display: none;
      }
    }

    .ActiveSlideBg {
      width: 60%;
      background: $dark4;
      left: 0;
      height: em(560px);
      @include iftablet {
        height: em(480px);
      }
    }
    .NextSlideBg {
      width: 40%;
      background: $black;
      right: 0;
      height: em(280px);
      @include iftablet {
        height: em(240px);
      }
    }

    .SlideContainer {
      width: 100%;
      max-width: em(1440px);
      margin: 0 auto;
    }

    .Slider {
      position: relative;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: em(1038px) em(402px);
      @include iftablet {
        grid-template-columns: em(656px) em(368px);
      }

      @include ifmobile {
        display: block;
        height: 100%;
        // min-height: em(640px);
      }

      .Navbar {
        position: absolute;
        right: em(90px);
        top: 0;
        display: flex;
        justify-content: space-between;
        max-width: em(162px);
        width: 100%;

        @include iftablet {
          right: em(32px);
        }

        @include ifmobile {
          top: em(12px);
          right: em(12px);
          position: absolute;
          max-width: em(111px);
          z-index: 1000;
        }

        &_PrevSlide,
        &_NextSlide {
          width: em(45px);
          height: em(45px);
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: rgba(46, 61, 141, 0.25);
          }

          .Arrow {
            border: solid $blue30;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: em(10px);
            transform: rotate(-225deg);
            position: absolute;
            @include ifmobile {
              padding: em(8px);
            }
          }
        }
        &_PrevSlide {
          .Arrow {
            right: 13%;
            @include ifmobile {
              right: 22%;
            }
          }
        }

        &_NextSlide {
          .Arrow {
            left: 13%;
            transform: rotate(-45deg);
            @include ifmobile {
              left: 22%;
            }
          }
        }
      }

      .Slider1 {
        width: em(1038px);
        height: em(560px);
        @extend %background-cover;

        @include iftablet {
          width: em(656px);
          height: em(480px);
        }

        @include ifmobile {
          width: 100%;
          // min-height: em(640px);
          height: 100%;
        }
      }

      .Slider2 {
        width: em(402px);
        height: em(267px);
        margin-top: auto;
        @extend %background-cover;

        @include iftablet {
          width: em(368px);
          height: em(240px);
        }

        @include ifmobile {
          display: none;
        }
      }

      .ActiveSlide {
        width: em(1038px);
        height: em(560px);
        background: $dark4;
        padding: em(56px) em(84px) em(56px) em(85px);

        @include iftablet {
          width: em(656px);
          height: em(480px);
          padding: em(56px) em(33px);
        }
        @include ifmobile {
          width: 100%;
          height: 100%;
          // min-height: em(640px);
          padding: em(72px) em(33px) em(40px);
        }

        &_Header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: em(36px);
          @include ifmobile {
            flex-direction: column;
            margin-bottom: em(16px);
          }

          &_Icon {
            width: em(209px);
            height: em(56px);
            @include ifmobile {
              width: em(168px);
              height: em(45px);
            }
          }

          &_Founded {
            font-weight: 400;
            font-size: em(16px);
            line-height: 100%;
            color: #91a7fc;
            opacity: 0.5;
            @include iftablet {
              font-size: em(14px);
            }
            @include ifmobile {
              font-size: em(14px);
              position: relative;
              bottom: em(-125px);
            }
          }
        }

        &_Info {
          margin-bottom: em(105px);
          @include iftablet {
            margin-bottom: em(69px);
          }
          @include ifmobile {
            margin-bottom: em(83px);
          }

          .WhoAreWe {
            margin-bottom: em(16px);
            span {
              font-weight: 600;
              font-size: em(20px);
              line-height: 100%;
              color: $white;
              @include iftablet {
                font-size: em(16px);
              }
              @include ifmobile {
                font-size: em(16px);
              }
            }
          }

          .FromCountry {
            font-weight: 500;
            font-size: em(16px);
            line-height: 150%;
            color: #f0f3ff;
            opacity: 0.8;
            @include ifmobile {
            }
          }
        }

        &_Parameters {
          display: flex;
          flex-direction: column;

          .Values {
            display: grid;
            grid-template-columns: em(359px) 1fr;

            margin-bottom: em(62px);
            gap: 0 em(68px);
            @include iftablet {
              grid-template-columns: em(297px) 1fr;
              margin-bottom: em(32px);
            }
            @include ifmobile {
              grid-template-columns: 1fr;
              gap: em(16px) 0;
              margin-bottom: em(32px);
            }

            &_Item {
              .ItemName {
                span {
                  font-weight: 500;
                  font-size: em(16px);
                  line-height: 150%;
                  color: #f0f3ff;
                  opacity: 0.8;
                }
              }

              .ItemValue {
                font-weight: 400;
                font-size: em(48px);
                line-height: 133%;
                color: #e0e6ff;
                @include iftablet {
                  font-size: em(40px);
                }
                @include ifmobile {
                  font-size: em(28px);
                }
              }
            }
          }

          .Tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .TagsItem {
              display: flex;
              align-items: center;
              height: em(26px);
              padding: em(5px) em(16px);
              margin: em(3px) em(6px) em(3px) 0;
              border-radius: 2px;
              background: rgba(29, 39, 71, 0.3);
              @include iftablet {
              }
              @include ifmobile {
              }

              &:first-child {
                background: $dirty_blue;
              }
              span {
                font-weight: 400;
                font-size: em(12px);
                line-height: 100%;
                color: $white;
                white-space: nowrap;
              }
            }
          }
        }
      }

      .NextSlide {
        width: em(402px);
        height: em(267px);
        background: $black;
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: center;

        @include iftablet {
          width: em(344px);
          height: em(240px);
        }

        &_Icon {
        /*  width: em(129px);
          height: em(43px);
          @include iftablet {
            width: em(110px);
            height: em(37px);
          }*/
        }
      }
    }
  }
}



  .spacefex {
    width: em(258px);
    height: em(35px);
    @include ifmobile {
      width: em(210px);
      height: em(28px);
    }
  }
  .teido {
    width: em(151px);
    height: em(50px);
  }
  .aqatin {
    width: em(209px);
    height: em(56px);
    @include ifmobile {
      width: em(186.61px);
      height: em(50px);
    }
  }
  .esoque {
    width: em(213px);
    height: em(44px);
    @include ifmobile {
      width: em(174.27px);
      height: em(36px);
    }
  }
  .halalcash {
    width: em(234px);
    height: em(42px);
    position: relative;
    @include ifmobile {
      width: em(214px);
      height: em(38.21px);
    }
  }
  .pridepay {
    width: em(234px);
    height: em(51px);
    position: relative;
    @include ifmobile {
      width: em(206px);
      height: em(44.3px);
    }
  }
.blvc {
    width: em(115px);
    height: em(50px);
    position: relative;
    @include ifmobile {
      width: em(110px);
      height: em(44.3px);
    }
  }
.tyncofex {
    width: em(215px);
    height: em(56px);
    position: relative;
    @include ifmobile {
      width: em(215px);
      height: em(56px);
    }
  }
.cnda {
    width: em(250px);
    height: em(67px);
    position: relative;
    @include ifmobile {
      width: em(186px);
      height: em(50px);
    }
  }
.cospay {
  width: em(215px);
  height: em(56px);
  position: relative;
  @include ifmobile {
    width: em(172px);
    height: em(45px);
  }
}
