.CreateProject {
  position: relative;
  padding: 0 em(47px);
  @include iftablet {
    padding: 0;
  }

  @include ifmobile {
    padding: 0;
    padding-bottom: em(87px);
  }

  &_StickyActions {
    display: none;
    @include ifmobile {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 em(16px);
      padding: 0 em(10px);
      scroll-behavior: smooth;
      position: fixed;
      z-index: 100;
      bottom: em(16px);
    }
  }

  &_Header {
    margin-bottom: em(30px);
    @include ifmobile {
      padding: 0 em(10px);
    }

    &_MobileContent {
      display: none;
      @include ifmobile {
        display: block;
      }

      &_Actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 em(16px);
        margin: em(30px) 0;
      }

      &_Navbar {
        width: 100%;
      }
    }
  }

  &_Content {
    display: grid;
    grid-template-columns: 1fr em(354px);
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @include iftablet {
      grid-template-columns: 1fr em(336px);
    }

    @include ifmobile {
      grid-template-columns: 1fr;
      border-radius: 0;
    }

    &_Main {
      padding: em(24px) em(58px) em(24px) em(24px);
      @include ifmobile {
        padding: em(10px);
      }

      .Form {
        width: 100%;
        max-width: em(800px);
        @include iftablet {
          max-width: em(574px);
        }

        &_Block {
          &_Title {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: em(16px);
            span {
              font-weight: 600;
              font-size: em(20px);
              color: #32429a;
              &:nth-child(2) {
                font-size: em(16px);
                margin-left: em(16px);
                p {
                  font-weight: 500;
                  color: rgba(26, 26, 26, 0.7);
                }
              }
            }
          }

          &_Subtitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: em(8px);
            p {
              font-weight: 500;
              font-size: em(16px);
              line-height: 150%;
              color: rgba(26, 26, 26, 0.8);
            }

            .MilestoneDelete {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;
              &:hover {
                .MilestoneDelete_Title {
                  span {
                    color: $red;
                  }
                }
                .MilestoneDelete_Icon {
                  path {
                    stroke: $red;
                  }
                }
              }
              &_Title {
                margin-right: em(10px);
                span {
                  font-weight: 400;
                  font-size: em(16px);

                  color: rgba(26, 26, 26, 0.5);
                }
              }
              &_Icon {
                width: em(18px);
                height: em(20px);
                path {
                  stroke: rgba(26, 26, 26, 0.5);
                }
              }
            }
          }

          &_Row {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            margin-bottom: em(16px);

            @include ifmobile {
              display: grid;
              grid-template-columns: 1fr;
              gap: em(16px) 0;
            }

            .ProjectName {
              width: 100%;
            }

            .FoundedIn {
              width: 100%;
              max-width: em(170px);
              margin-left: em(16px);
              @include ifmobile {
                max-width: 100%;
                margin-left: 0;
              }
            }

            .Tagline {
              width: 100%;
            }

            .Discription {
              width: 100%;
            }

            .Select {
              width: 100%;
            }

            .Fullwidth {
              width: 100%;
            }

            .Halfwidth {
              width: 50%;
              @include ifmobile {
                width: 100%;
              }
            }

            &_Halfwidth {
              width: 50%;
              @include ifmobile {
                width: 100%;
              }
            }

            .SecondItem {
              margin-left: em(16px);
              @include ifmobile {
                margin-left: 0;
              }
            }
          }

          &_RowWithImage {
            display: grid;
            grid-template-columns: repeat(5, minmax(em(113px), 1fr));
            gap: em(13px) em(13px);

            @include iftablet {
              grid-template-columns: repeat(4, minmax(em(113px), 1fr));
            }

            @include ifmobile {
              grid-template-columns: 1fr 1fr;
              gap: em(16px) em(16px);
            }

            .UploadImage {
              width: 100%;
              height: em(145px);
              background: $grey;
              border: 1px solid #d1d5db;
              border-radius: 2px;
              position: relative;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
              @include ifmobile {
                height: em(162px);
              }
              &:hover {
                .UploadImage_Overlay {
                  opacity: 0.5;
                }
                .UploadImage_Delete_Desktop {
                  display: flex;
                }
              }

              &_Overlay {
                @extend %fullsize;
                background: #000;
                opacity: 0;
                @include ifmobile {
                  display: none;
                }
              }

              &_Delete {
                position: absolute;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                &_Icon {
                  width: em(18px);
                  height: em(18px);
                  cursor: pointer;
                  path {
                    stroke: rgba(26, 26, 26, 0.5);
                  }
                  &:hover {
                    path {
                      stroke: $red;
                    }
                  }
                }

                &_Desktop {
                  display: none;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: em(40px);
                  height: em(40px);
                  background: $white;
                  @include ifmobile {
                    display: none !important;
                  }
                }

                &_Mobile {
                  top: em(-8px);
                  right: em(-8px);
                  display: none;
                  width: em(26px);
                  height: em(26px);
                  background: #f4f4f4;
                  @include ifmobile {
                    display: flex;
                  }

                  &_Icon {
                    width: em(11px);
                    height: em(11px);
                  }
                }
              }
            }
          }

          &_Grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: em(16px);
            margin-bottom: em(32px);

            @include ifmobile {
              grid-template-columns: 1fr;
              gap: em(16px) 0;
              margin-bottom: em(16px);
            }
          }

          .MilestoneItem {
            margin-bottom: em(16px);
            &:last-child {
              margin-bottom: em(32px);
              @include ifmobile {
                margin-bottom: em(16px);
              }
            }
            &_ButtonAdd {
              font-weight: 500;
              font-size: em(16px);
              color: #6575cd;
              cursor: pointer;
            }

            .Form_Block_Row {
              @include ifmobile {
                grid-template-columns: 1fr 1fr;
                gap: 0 em(16px);
              }
            }
          }

          &_ChoiseOptions {
            display: flex;
            flex-direction: column;
            margin-bottom: em(32px);
            &_Button {
              &:nth-child(1) {
                margin-bottom: em(16px);
              }
            }
          }
        }

        &_Border {
          width: 100%;
          height: 1px;
          background: rgba(26, 26, 26, 0.1);
          margin: em(16px) 0 em(32px);

          @include ifmobile {
            margin: em(16px) 0 em(16px);
          }
        }
      }
    }

    &_Navbar {
      padding: em(71px) em(58px);
      border-left: 1px solid rgba(26, 26, 26, 0.1);

      @include iftablet {
        padding: em(95px) em(58px) em(71px) em(58px);
      }

      @include ifmobile {
        display: none;
      }

      .Navbar {
        position: sticky;
        top: 0;
        &_Header {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0 em(16px);
          margin-bottom: em(40px);
        }

        &_Content {
          list-style: none;
          &_Item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: max-content;
            margin-bottom: em(16px);
            cursor: pointer;
            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              .Navbar_Content_Item_Number {
                border: 1px solid #8c97d9;
              }
              .Navbar_Content_Item_Name {
                color: $black;
              }
            }

            &.Active {
              .Navbar_Content_Item_Number {
                background: #2e3c8d;
                border: none;
                span {
                  color: $white;
                }
              }
              .Navbar_Content_Item_Name {
                color: #32429a;
              }
            }

            &_Number {
              width: em(32px);
              height: em(32px);
              border-radius: 50%;
              background: #eceef9;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: em(12px);
              span {
                font-weight: 600;
                font-size: em(16px);
                color: $blue50;
              }
            }

            &_Name {
              font-weight: 600;
              font-size: em(16px);
              line-height: 100%;
              color: rgba(26, 26, 26, 0.8);
            }
          }
        }
      }
    }
  }
}
