.Title {
  margin-bottom: em(28px);
}

.Subtitle {
  margin-bottom: em(24px);
  p {
    font-size: em(16px);
    color: rgba(26, 26, 26, 0.7);
  }
}

.Input {
  margin-bottom: em(16px);
}

.Actions {
  margin-top: em(32px);
  display: grid;
  gap: em(16px) 0;

  &_Bottom {
    display: grid;
    grid-template-columns: 1fr em(64px);
    gap: 0 em(20px);
  }

  &_Button {
    width: 100%;
  }
}
