.IconPass {
  cursor: pointer;
  & svg {
    width: 19px;
  }
}
.FlagSelect {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.FlagSelectWrap {
  display: flex;
  align-items: center;
  & > span {
    padding-left: 10px;
  }
}
