.ProjectDetails {
  padding: 0 em(47px);
  @include iftablet {
    padding: 0;
  }

  @include ifmobile {
    padding: 0;
  }

  &_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: em(30px);

    @include ifmobile {
      padding: 0 em(10px);
    }

    &_Title {
      margin-right: auto;
    }

    &_Edit,
    &_Archive {
      width: em(110px);
      margin-left: em(16px);
      @include ifmobile {
        margin-top: em(30px);
        width: 100%;
        max-width: em(162px);
      }
    }

    &_Edit {
      margin-left: em(32px);
      @include ifmobile {
        margin-left: 0;
      }
    }
  }

  &_Details {
    padding: em(24px) em(20px) em(40px);
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: em(20px);
    @include ifmobile {
      padding: em(10px) em(10px) em(40px);
      border-radius: 0;
    }

    &_Header {
      background: #f9fafb;
      border-radius: em(4px);
      padding: em(24px) em(20px) em(24px) em(20px);
      margin-bottom: em(25px);
      display: grid;
      grid-template-columns: 1fr 1px minmax(em(303px), em(400px));
      gap: 0 em(40px);

      @include ifmobile {
        border-radius: 0;
        padding: em(16px) em(12px) em(20px);
        margin-bottom: em(44px);
        grid-template-columns: 1fr;
        gap: 0;
      }

      &_InvestedInfo {
        min-width: em(528px);
        @include ifmobile {
          min-width: 100%;
        }
        &_Header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: em(20px);

          @include ifmobile {
            align-items: flex-start;
            margin-bottom: em(24px);
          }

          &_Title {
            font-weight: 600;
            font-size: em(24px);
            line-height: 133%;
            text-transform: uppercase;
            color: $blue50;
            @include ifmobile {
              font-size: em(20px);
            }
          }
          &_Status {
            padding: em(10px) em(12px);
            border-radius: 2px;
            margin-left: em(20px);
            width: max-content;
            span {
              text-transform: capitalize;
              display: flex;
              line-height: 100%;
              font-weight: 500;
              font-size: em(14px);
            }
          }
          &_Logo {
            display: none;
            @include ifmobile {
              display: block;
              width: max-content;
              margin: 0 auto;
              margin-bottom: em(44px);
            }
          }
        }
        &_Graph {
          display: flex;
          flex-direction: column;

          .GraphLabels {
            display: flex;
            flex-direction: row;
            margin-bottom: em(12px);
            @include ifmobile {
              margin-bottom: em(3px);
            }
            &_Item {
              font-size: em(20px);
              font-weight: 600;
              color: rgba(26, 26, 26, 0.8);
              @include ifmobile {
                font-size: em(16px);
              }
              &_Slash {
                font-size: em(20px);
                font-weight: 500;
                color: #85198f;
                @include ifmobile {
                  font-size: em(16px);
                  font-weight: 600;
                }
              }

              &_Current {
                color: #85198f;
              }
              &_Total {
                margin-left: auto;
              }
            }
          }

          .GraphProgressBar {
            width: 100%;
            height: 4px;
            background: #d9dcf2;
            border-radius: em(10px);
            margin-bottom: em(10px);
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: row;

            &_Item {
              &:nth-child(1) {
                display: flex;
                width: 40%;
                background: #2e3c8d;
              }
              &:nth-child(2) {
                display: flex;
                width: 20%;
                background: #85198f;
                margin-left: 2px;
                border-top-right-radius: em(10px);
                border-bottom-right-radius: em(10px);
              }
            }
          }

          .GraphDate {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &_Label {
              font-size: em(14px);
              font-weight: 400;
              color: rgba(26, 26, 26, 0.7);
            }

            &_Tooltip {
              position: relative;
              margin-left: auto;
              &_Icon {
                width: em(16px);
                height: em(16px);
                cursor: pointer;
                &:hover + .GraphDate_Tooltip_Tooltip {
                  opacity: 1;
                }
                path,
                circle {
                  stroke: #9ca3b0;
                }
              }

              &_Tooltip {
                width: max-content;
                position: absolute;
                top: em(-35px);
                left: 50%;
                transform: translate(-50%, -50%);
                padding: em(8px) em(12px);
                background: #fdfdfd;
                border: 1px solid #d4d4d8;
                border-radius: em(4px);
                filter: drop-shadow(0px 1px 1px rgba(18, 18, 18, 0.3));
                pointer-events: none;
                opacity: 0;
                transition: ease-in $speed;

                &::after {
                  content: '';
                  display: flex;
                  border: 1px solid #cccc;
                  border-bottom: none;
                  border-right: none;
                  height: em(8px);
                  width: em(8px);
                  position: absolute;
                  top: 100%;
                  right: calc(50% - em(4px));
                  transform: translatey(em(-3.3px)) rotate(225deg);
                  background-color: #fff;
                }
                span {
                  font-weight: 500;
                  font-size: em(12px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }
            }

            &_Date {
              margin-left: em(14px);
              span {
                font-weight: 500;
                font-size: em(14px);
                color: $black;
              }
            }
          }
        }
      }

      &_Border {
        height: 100%;
        background: rgba(26, 26, 26, 0.05);
        @include ifmobile {
          display: none;
        }
      }

      &_Logo {
        display: flex;
        justify-content: center;
        align-items: center;
        @include ifmobile {
          display: none;
        }
        svg {
          height: em(52px);
        }
      }
    }

    &_Content {
      display: grid;
      grid-template-columns: 1fr 1px minmax(em(303px), em(400px));
      gap: 0 em(40px);
      padding-right: em(20px);
      @include ifmobile {
        grid-template-columns: 1fr;
        padding-right: 0;
      }

      &_Left {
        padding-left: em(20px);
        @include ifmobile {
          padding-left: 0;
        }

        .ProjectPipeline {
          margin-bottom: em(48px);
          @include ifmobile {
            margin-bottom: em(32px);
          }
          &_Title {
            margin-bottom: em(20px);
            span {
              font-weight: 500;
              font-size: em(18px);
              color: $black;
            }
          }

          &_Items {
            position: relative;
            &::before {
              content: '';
              display: block;
              position: absolute;
              z-index: 0;
              top: 0;
              left: em(48px);
              width: 1px;
              height: 100%;
              background: #eceef9;
            }

            .ProjectPipeline {
              position: relative;
              z-index: 100;
              display: flex;
              flex-direction: row;
              margin-bottom: em(24px);
              &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: -1;
                top: em(16px);
                left: 0;
                width: 100%;
                height: 1px;
                background: #eceef9;
              }
              &:last-child {
                margin-bottom: 0;
                &::before {
                  content: '';
                  display: block;
                  position: absolute;
                  z-index: 0;
                  bottom: 0;
                  left: em(47px);
                  width: 2px;
                  height: 100%;
                  background: $white;
                }
              }

              &_Period {
                background: #eceef9;
                border-radius: 2px;
                padding: em(8px) em(11px);
                width: max-content;
                height: max-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;

                @include ifmobile {
                  padding: em(6px) em(11px);
                }

                &_Quartal {
                  display: flex;
                  font-weight: 600;
                  font-size: em(16px);
                  line-height: 100%;
                  text-transform: uppercase;
                  color: $blue50;

                  @include ifmobile {
                    font-size: em(12px);
                  }
                }
                &_Year {
                  margin-left: em(8px);
                  span {
                    display: flex;
                    font-weight: 500;
                    font-size: em(16px);
                    line-height: 100%;
                    color: #6575cd;
                    @include ifmobile {
                      font-size: em(12px);
                    }
                  }
                }
              }

              &_Description {
                width: 100%;
                padding: em(8px) em(16px);
                border: 1px solid rgba(26, 26, 26, 0.1);
                border-radius: 4px;
                margin-left: em(24px);
                background: $white;
                @include ifmobile {
                  padding: em(4px) em(8px);
                  margin-left: em(12px);
                }
                p {
                  font-size: em(12px);
                  font-weight: 400;
                  line-height: 133%;
                  color: $black;
                }
              }
            }
          }
        }

        .FinancialValues {
          margin-bottom: em(48px);
          @include ifmobile {
            margin-bottom: em(32px);
          }
          &_Title {
            margin-bottom: em(20px);
            span {
              font-weight: 500;
              font-size: em(18px);
              color: $black;
            }
          }

          &_Items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: em(16px) em(10px);

            @include ifmobile {
              grid-template-columns: 1fr;
              gap: em(10px) 0;
            }

            .FinancialValue {
              background: #ffffff;
              border: 1px solid rgba(26, 26, 26, 0.05);
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
              border-radius: 4px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0 em(10px);
              min-height: em(110px);
              min-width: em(170px);
              @include ifmobile {
                flex-direction: row;
                justify-content: space-between;
                min-height: em(56px);
              }

              &_Label {
                margin-bottom: em(10px);
                text-align: center;
                @include ifmobile {
                  margin-bottom: 0;
                }
                span {
                  display: flex;
                  font-weight: 500;
                  font-size: em(12px);
                  line-height: 133%;
                  color: rgba(26, 26, 26, 0.7);
                }
              }
              &_Value {
                font-weight: 600;
                font-size: em(18px);
                line-height: 167%;
                color: #263173;
                white-space: nowrap;
                @include ifmobile {
                  font-size: em(16px);
                }
              }
            }
          }
        }

        .FundExpences {
          &_Title {
            margin-bottom: em(2px);
            span {
              font-weight: 500;
              font-size: em(18px);
              color: $black;
            }
          }

          &_Subtitle {
            margin-bottom: em(20px);
            span {
              display: flex;
              font-weight: 400;
              font-size: em(16px);
              line-height: 150%;
              color: rgba(26, 26, 26, 0.7);
            }
          }

          &_Items {
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, em(210px)));
            gap: em(16px) em(10px);

            @include ifmobile {
              grid-template-columns: 1fr;
              gap: em(10px) 0;
            }

            .FundExpence {
              background: #ffffff;
              border: 1px solid rgba(26, 26, 26, 0.05);
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
              border-radius: 4px;
              min-width: em(210px);
              min-height: em(110px);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: relative;
              padding: 0 em(10px);
              @include ifmobile {
                flex-direction: row;
                min-height: em(56px);
              }

              &_Tooltip {
                position: absolute;
                top: em(10px);
                right: em(10px);

                @include ifmobile {
                  position: relative;
                  top: auto;
                  right: auto;
                  margin-left: em(10px);
                }
                &_Icon {
                  width: em(16px);
                  height: em(16px);
                  cursor: pointer;
                  &:hover + .FundExpence_Tooltip_Tooltip {
                    opacity: 1;
                  }
                  path,
                  circle {
                    stroke: #9ca3b0;
                  }
                }

                &_Tooltip {
                  width: max-content;
                  min-width: em(200px);
                  position: absolute;
                  z-index: 100;
                  bottom: calc(100% + em(10px));
                  left: calc(50% - em(100px));
                  padding: em(8px) em(12px);
                  background: #fdfdfd;
                  border: 1px solid #d4d4d8;
                  border-radius: em(4px);
                  filter: drop-shadow(0px 1px 1px rgba(18, 18, 18, 0.3));
                  pointer-events: none;
                  opacity: 0;
                  transition: ease-in $speed;

                  @include ifmobile {
                    left: 50%;
                  }

                  &::after {
                    content: '';
                    display: flex;
                    border: 1px solid #cccc;
                    border-bottom: none;
                    border-right: none;
                    height: em(8px);
                    width: em(8px);
                    position: absolute;
                    top: 100%;
                    right: calc(50% - em(4px));
                    transform: translatey(em(-3.3px)) rotate(225deg);
                    background-color: #fff;
                  }

                  ul {
                    list-style: none;
                    li {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      margin-bottom: em(4px);
                      &:last-child {
                        margin-bottom: 0;
                      }
                      .Label,
                      .Value {
                        font-weight: 500;
                        font-size: em(12px);
                        line-height: 133%;
                      }
                      .Label {
                        color: rgba(26, 26, 26, 0.7);
                      }
                      .Value {
                        color: $black;
                      }
                    }
                  }
                }
              }

              &_Label {
                margin-bottom: em(10px);
                @include ifmobile {
                  margin-bottom: 0;
                  order: -1;
                }
                span {
                  font-weight: 500;
                  font-size: em(12px);
                  line-height: 133%;
                  color: rgba(26, 26, 26, 0.7);
                }
              }
              &_Value {
                font-weight: 600;
                font-size: em(18px);
                line-height: 167%;
                color: #263173;
                @include ifmobile {
                  font-size: em(16px);
                  margin-left: auto;
                }
              }
            }
          }
        }
      }

      &_Border {
        height: 100%;
        background: rgba(26, 26, 26, 0.05);
        @include ifmobile {
          display: none;
        }
      }

      &_Right {
        @include ifmobile {
          order: -1;
          margin-bottom: em(24px);
        }
        .AboutCompany {
          .Border {
            width: 100%;
            height: 1px;
            background: rgba(26, 26, 26, 0.1);
            margin: em(20px) 0;
          }

          &_Title {
            margin-bottom: em(4px);
            text-align: center;
            span {
              font-weight: 500;
              font-size: em(16px);
              line-height: 150%;
              color: rgba(26, 26, 26, 0.8);
            }
          }

          &_Founded {
            margin-bottom: em(14px);
            text-align: center;
            span {
              font-weight: 400;
              font-size: em(14px);
              line-height: 100%;
              color: rgba(26, 26, 26, 0.7);
            }
          }

          &_Market {
            margin-bottom: em(4px);
            text-align: center;
            span {
              font-weight: 400;
              font-size: em(14px);
              line-height: 100%;
              color: rgba(26, 26, 26, 0.7);
            }
          }

          &_Countries {
            text-align: center;
            font-weight: 400;
            font-size: em(14px);
            line-height: 143%;
            color: $black;
          }

          &_Description {
            margin-bottom: em(25px);
            p {
              font-weight: 400;
              font-size: em(14px);
              line-height: 143%;
              color: $black;
            }
          }

          &_Tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: em(25px);

            &_Item {
              width: max-content;
              padding: em(5px) em(10px);
              background: #eceef9;
              border-radius: 2px;
              margin-right: em(6px);
              margin-bottom: em(6px);
              &:first-child {
                background: #b2bae6;
              }

              &_Name {
                font-weight: 500;
                font-size: em(12px);
                color: $black;
              }
            }
          }

          &_File {
            display: flex;
            flex-direction: row;
            align-items: center;

            &_Icon {
              width: em(20px);
              height: em(20px);
              margin-right: em(10px);
            }
            &_Filename {
              cursor: pointer;
              font-weight: 400;
              font-size: em(14px);
              color: #6575cd;
              display: flex;
              line-height: 100%;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          &_RegistrationNumber {
            display: flex;
            flex-direction: row;

            &_Icon {
              width: em(20px);
              height: em(20px);
              margin-right: em(10px);
            }

            &_Info {
              &_Label {
                margin-bottom: em(6px);
                span {
                  display: flex;
                  font-weight: 400;
                  line-height: 133%;
                  font-size: em(14px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }
              &_Value {
                font-weight: 500;
                font-size: em(14px);
                color: $black;
                display: flex;
                line-height: 100%;
              }
            }
          }

          &_Website {
            display: flex;
            flex-direction: row;
            &_Icon {
              width: em(20px);
              height: em(20px);
              margin-right: em(10px);
            }

            &_Info {
              &_Label {
                margin-bottom: em(6px);
                span {
                  display: flex;
                  font-weight: 400;
                  line-height: 133%;
                  font-size: em(14px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }
              &_Value {
                display: flex;
                line-height: 100%;
                font-weight: 400;
                font-size: em(14px);
                color: #6575cd;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          &_CompanyEmail {
            display: flex;
            flex-direction: row;
            &_Icon {
              width: em(20px);
              height: em(20px);
              margin-right: em(10px);
              path {
                stroke-opacity: 0.5;
              }
            }

            &_Info {
              &_Label {
                margin-bottom: em(6px);
                span {
                  display: flex;
                  line-height: 133%;
                  font-weight: 400;
                  font-size: em(14px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }
              &_Value {
                display: flex;
                line-height: 100%;
                font-weight: 400;
                font-size: em(14px);
                color: #6575cd;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          &_Address {
            display: flex;
            flex-direction: row;
            &_Icon {
              width: em(34px);
              height: em(20px);
              margin-right: em(10px);
            }

            &_Info {
              &_Label {
                margin-bottom: em(6px);
                span {
                  display: flex;
                  line-height: 133%;
                  font-weight: 400;
                  font-size: em(14px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }

              &_Value {
                p {
                  font-weight: 500;
                  font-size: em(14px);
                  line-height: 143%;
                  color: $black;
                }
              }
            }
          }

          &_ValuationPartner {
            display: flex;
            flex-direction: row;
            margin-bottom: em(16px);
            &_Icon {
              width: em(20px);
              height: em(20px);
              margin-right: em(10px);
            }

            &_Info {
              &_Label {
                margin-bottom: em(6px);
                span {
                  display: flex;
                  line-height: 133%;
                  font-weight: 400;
                  font-size: em(14px);
                  color: rgba(26, 26, 26, 0.7);
                }
              }

              &_Logo {
                height: em(32px);
              }
            }
          }
        }
      }
    }
  }

  &_Gallery {
    padding: em(24px);
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    @include ifmobile {
      padding: em(10px);
      border-radius: 0;
    }

    &_Header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: em(15px);

      &_Title {
        font-weight: 500;
        font-size: em(16px);
        line-height: 150%;
        color: $black;
      }

      &_Navbar {
        display: flex;
        flex-direction: row;
        .PrevSlide {
          margin-right: em(21px);
        }
        .NextSlide,
        .PrevSlide {
          width: em(18px);
          height: em(8px);
          cursor: pointer;
          path {
            stroke: rgba(26, 26, 26, 0.5);
          }
        }

        .PrevSlide {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }

    &_Slider {
      overflow: hidden;
    }
  }
}
