.Label {
  display: inline-flex;
  padding: em(8px) em(12px);
  border-radius: em(2px);
  span {
    display: flex;
    font-weight: 500;
    font-size: em(14px);
    line-height: 100%;
    @include ifmobile {
      font-size: em(12px);
    }
  }
  &_success {
    background: #defce9;
    color: #114c29;
  }
  &_new {
    background: #eceef9;
    color: #2e3c8d;
  }

  &_unavailable {
    background: rgba(26, 26, 26, 0.05);
    color: rgba(26, 26, 26, 0.5);
  }
}
