.SelectContainer {
  position: relative;
}

.SelectHeader {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 100%;
  font-size: em(16px);
  font-weight: 400;
  font-family: $font-Avenir;
  width: 100%;
  height: em(56px);
  position: relative;
  border: 1px solid #d1d5db;
  padding: 0 em(16px);
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  &:hover {
    border: 1px solid #8c97d9;
  }

  p {
    font-weight: normal;
    line-height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(26, 26, 26, 0.7);
  }

  .NotEmpty {
    position: absolute;
    top: em(28px);
    color: $black;
  }
}

.SelectHeaderFocus {
  border: 1px solid #6575cd !important;
}

.SelectList {
  position: absolute;
  top: em(59px);
  z-index: 1000;
  width: 100%;
  background: $white;
  max-height: em(200px);
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: em(8px) 0;
}

.SelectList::-webkit-scrollbar {
  width: em(4px);
}
.SelectList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.ListItem {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  padding: em(10px) em(16px);

  &_Active {
    cursor: default;
    background: #eceef9;
  }

  .ListItemTitle {
    line-height: 150%;
    font-size: em(16px);
    font-weight: 400;
    font-family: $font-Avenir;
    color: $black;
  }
}

.Label {
  position: absolute;
  pointer-events: none;
  font-size: em(16px);
  top: em(20px);
  left: em(17px);
  font-family: $font-Avenir;
  font-weight: 500;
  line-height: 100%;
  color: rgba(26, 26, 26, 0.5);
  transition: all 0.3s ease;

  &_Focus {
    font-size: em(12px);
    top: em(10px);
    left: em(23px);
  }
}

.Error {
  border: 1px solid #ef4343 !important;
}

.ErrorText {
  font-size: em(12px);
  font-family: $font-Avenir;
  line-height: 100%;
  color: #ef4343;
  display: block;
  margin-top: em(10px);
  font-weight: 400;
}

.IconArrow {
  width: em(12px);
  height: em(12px);
  position: absolute;
  top: calc(50% - em(5px));
  right: em(24px);
  transition: transform 0.6s ease;
}

.IconArrowActive {
  transform: rotate(180deg);
}
