.Articles {
  @include ifdesktop {
    padding: 0 em(53px);
  }

  &_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: em(30px);
    @include ifmobile {
      padding: 0 em(10px);
    }

    &_Title {
      margin-right: auto;
      @include ifmobile {
        margin-bottom: em(30px);
      }
    }

    &_Actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      &_Mobile {
        display: none;
        @include ifmobile {
          display: flex;
          width: 100%;
          padding: 0 em(10px);
          margin-top: em(30px);
        }
      }
    }

    &_SaveDraft {
      font-weight: 600;
      font-size: em(16px);
      color: #32429a;
      margin: 0 em(40px);
      cursor: pointer;
      @include ifmobile {
        margin: 0 em(30px);
      }
    }

    &_Cancel,
    &_Publish {
      width: em(100px);
    }
  }

  &_Options,
  &_Wysiwyg {
    padding: em(24px);
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    @include ifmobile {
      padding: em(24px) em(10px);
      border-radius: 0px;
    }
  }

  &_Options {
    display: grid;
    grid-template-columns: 1fr em(425px);
    gap: 0 em(24px);
    margin-bottom: em(16px);
    @include ifmobile {
      grid-template-columns: 1fr;
      gap: em(40px) 0;
      margin-bottom: em(16px);
    }

    &_Details {
      max-width: em(614px);

      &_Header {
        margin-bottom: em(16px);
        span {
          font-weight: 500;
          font-size: em(16px);
          color: $black;
        }
      }

      &_InputTitle {
        width: 100%;
        margin-bottom: em(16px);
      }

      &_InputAuthor {
        max-width: em(329px);
        margin-bottom: em(79px);
        @include ifmobile {
          max-width: 100%;
          margin-bottom: em(24px);
        }
      }

      &_Tooltip {
        display: grid;
        grid-template-columns: em(20px) 1fr;
        gap: 0 em(10px);
        padding-left: em(11px);
        @include ifmobile {
        }
        &_Icon {
          width: em(20px);
          height: em(20px);
        }

        p {
          font-size: em(14px);
          font-weight: 400;
          line-height: 143%;
        }
      }
    }

    &_Image {
      &_Header {
        margin-bottom: em(16px);
        span {
          font-weight: 500;
          font-size: em(16px);
          color: $black;
        }
      }

      &_AddImage {
        height: em(255px);
        @include ifmobile {
          height: em(204px);
        }

        &_Image {
          width: 100%;
          height: 100%;
          background: $grey;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          @include ifmobile {
            align-items: flex-start;
            justify-content: flex-end;
            padding-top: em(12px);
            padding-right: em(12px);
          }
          &:hover {
            .Articles_Options_Image_AddImage_Image_Actions {
              display: flex;
            }
          }

          &_Actions {
            display: none;
            flex-direction: row;
            &_Button {
              width: em(40px);
              height: em(40px);
              box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
              border-radius: 50%;
              background: $white;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover {
                .Edit path {
                  stroke: $blue50;
                }

                .Delete path {
                  stroke: $red;
                }
              }

              &:first-child {
                margin-right: em(16px);
              }

              .Edit,
              .Delete {
                path {
                  stroke: $grey;
                }
              }

              .Edit {
                width: em(18px);
                height: em(20px);
              }
              .Delete {
                width: em(18px);
                height: em(18px);
              }
            }
          }
        }
      }
    }
  }

  &_Wysiwyg {
    &_Header {
      margin-bottom: em(16px);
      span {
        font-weight: 500;
        font-size: em(16px);
        color: $black;
      }
    }

    &_Field {
      width: 100%;
      min-height: em(400px);
      background: #fdfdfd;
      border: 1px solid #d1d5db;
      border-radius: 2px;
    }
  }
}
