//general
.Button {
  font-size: 100%;
  width: auto;
  height: em(58px);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: em(10px);
  @extend %button;
  @include ifmobile {
    height: em(44px);
  }

  .Title {
    display: flex;
    font-size: em(20px);
    font-weight: 600;
    line-height: 100%;
    color: $white;
    font-family: $font-Avenir;
    @include ifmobile {
      font-size: em(18px);
    }
  }
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
}

.Button_small {
  height: em(44px);
  .Title {
    font-size: em(16px);
  }
}

//Secondary
.Button_secondary {
  background: $white;
  border: 1px solid #d1d5db;
  &:hover {
    border: 1px solid #8c97d9;
    background: #eceef9;
  }

  &:active {
    background: #d9dcf2;
    border: 1px solid #2e3c8d;
  }

  .Title {
    color: $black;
  }
}

//destructive
.Button_destructive {
  background: #dc2828;
  &:hover {
    background: #ef4343;
  }

  &:active {
    background: #ba1c1c;
  }
}

//destructive2
.Button_destructive2 {
  background: $white;
  border: 1px solid #dc2828;
  &:hover {
    background: #fef1f1;
  }

  &:active {
    background: #fee1e1;
    border: 1px solid #ba1c1c;
  }

  .Title {
    color: $black;
  }
}

//primary
.Button_primary {
  background: #2e3c8d;
  &:hover {
    background: #32429a;
  }

  &:active {
    background: #263173;
  }
}

//style for icons
.ToDetails {
  width: em(16px);
  height: em(8px);
  margin-left: em(12px);
}

.Invite {
  width: em(16px);
  height: em(16px);
  margin-right: em(12px);
}

.Invest {
  width: em(20px);
  height: em(12px);
  margin-right: em(12px);
}

.CreateProject {
  width: em(20px);
  height: em(20px);
  margin-right: em(12px);
}

.NewArticle {
  width: em(16px);
  height: em(16px);
  margin-right: em(12px);
}

.Edit {
  width: em(16px);
  height: em(16px);
  margin-right: em(12px);
}

.Delete {
  width: em(18px);
  height: em(20px);
}
