.HeaderApp {
  margin-left: em(200px);

  @include iftablet {
    margin-left: 0;
  }
  @include ifmobile {
    margin-left: 0;
  }

  &_Header {
    position: sticky;
    z-index: 100;
    top: 0;
    min-height: em(88px);
    padding: 0 em(56px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include iftablet {
      min-height: em(64px);
      padding: 0 em(32px);
    }
    @include ifmobile {
      min-height: em(56px);
      padding: 0 em(16px);
    }

    &_WithButtonBack {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      &_Icon {
        width: em(18px);
        height: em(8px);
        transform: rotate(180deg);
        margin-right: em(10px);
        path {
          stroke: $blue50;
        }
      }
    }

    &_Title {
      font-weight: 500;
      font-size: em(20px);
      color: $blue50;
      text-transform: uppercase;
    }

    &_Actions {
      display: flex;
      flex-direction: row;
      align-items: center;

      &_CompanyBalance {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: em(40px);

        @include ifmobile {
          display: none;
        }

        &_Value {
          margin-right: em(8px);
          span {
            font-weight: 600;
            font-size: em(16px);
            color: $blue900;
          }
        }

        &_Button {
          cursor: pointer;
          width: em(20px);
          height: em(20px);
        }
      }

      &_Logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        position: relative;

        @include ifmobile {
          margin-left: em(44px);
        }

        .IconUser {
          width: em(18px);
          height: em(20px);
          margin-right: em(2px);
          path,
          ellipse {
            stroke: $black;
            stroke-width: 1px;
          }
        }

        .IconCheveron {
          width: em(12px);
          height: em(12px);
          transition: all 0.3s ease;
        }

        &_Profile {
          display: flex;
          flex-direction: column;
          margin-right: em(16px);
          width: max-content;
          &_Name {
            margin-bottom: em(2px);
            span {
              display: flex;
              font-size: em(16px);
              font-weight: 500;
              line-height: 100%;
              color: $black;
            }
          }

          &_Mail {
            font-weight: 400;
            font-size: em(14px);
            line-height: 143%;
            color: rgba(26, 26, 26, 0.5);
          }

          &_Icon {
            width: em(24px);
            height: em(24px);
          }
        }

        &_Title {
          font-weight: 400;
          font-size: em(16px);
          color: $black;
        }
        &_Button {
          width: em(20px);
          height: em(18px);
        }
      }

      &_Dropdown {
        min-width: em(217px);
        position: absolute;
        top: em(30px);
        right: 0;
        background: $white;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
          0px 4px 6px -1px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        display: flex;
        padding: em(16px) 0;

        @include ifmobile {
          right: em(-35px);
        }

        &_Border {
          height: 1px;
          background: rgba(26, 26, 26, 0.1);
          margin: em(4px) em(16px);
        }

        ul {
          width: 100%;
          list-style: none;
          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-height: em(44px);
            padding: em(4px) em(24px);
            cursor: pointer;
            &:hover {
              background: #eceef9;
            }
          }
        }
      }

      &_Notifications {
        position: relative;
        width: em(18px);
        height: em(20px);
        margin-right: em(44px);

        @include iftablet {
          margin-right: em(44px);
        }
        @include ifmobile {
          margin-right: 0;
        }

        &_Icon {
          width: inherit;
          height: inherit;
          cursor: pointer;
        }

        &_Counter {
          position: absolute;
          top: em(-1px);
          left: em(9px);
          background: $blue50;
          border: 1px solid #eceef9;
          border-radius: em(26px);
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: em(12px);
          height: em(14px);
          cursor: pointer;

          span {
            display: flex;
            font-size: em(9px);
            font-weight: 500;
            color: $white;
            padding: 0 em(6px);
          }
        }
      }

      &_Burger {
        width: em(20px);
        margin-left: em(40px);
        position: relative;
        z-index: 100;
        @include ifdesktop {
          display: none;
        }

        span {
          display: block;
          width: 100%;
          height: em(1px);
          background: #19214d;
          transition: all 0.3s;
          position: relative;
          &:nth-child(3) {
            width: 50%;
          }
        }

        span + span {
          margin-top: em(6px);
        }
      }

      .Active span:nth-child(1) {
        animation: ease 0.7s top forwards;
      }

      .NotActive span:nth-child(1) {
        animation: ease 0.7s top-2 forwards;
      }

      .Active span:nth-child(2) {
        animation: ease 0.7s scaled forwards;
      }

      .NotActive span:nth-child(2) {
        animation: ease 0.7s scaled-2 forwards;
      }

      .Active span:nth-child(3) {
        width: 100%;
        animation: ease 0.7s bottom forwards;
      }

      .NotActive span:nth-child(3) {
        animation: ease 0.7s bottom-2 forwards;
      }
    }
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: em(7px);
    transform: rotate(0);
  }
  100% {
    top: em(7px);
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: em(7px);
    transform: rotate(45deg);
  }
  50% {
    top: em(7px);
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: em(7px);
    transform: rotate(0);
  }
  100% {
    bottom: em(7px);
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: em(7px);
    transform: rotate(135deg);
  }
  50% {
    bottom: em(7px);
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
