.Wrapper{
  width: 100%;
  position: relative;


  &_Container {
    position: relative;
    max-width: em(1270px);
    margin: 0 auto;

    @include iftablet {
      padding: 0 em(32px);
    }
  }

  .BgImage {
    @extend %fullsize;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    animation: showOverlay 1.5s linear forwards;
  }

  .BgOverlay {
    @extend %fullsize;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}