.Documents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 em(20px);

  @include iftablet {
    grid-template-columns: 1fr;
    gap: em(20px) 0;
  }
  @include ifmobile {
    grid-template-columns: 1fr;
    gap: em(20px) 0;
    padding: 0 em(10px);
  }

  &_Item {
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: em(4px);
    padding: em(24px);
    @include ifmobile {
      padding: em(24px) em(10px);
    }

    &_Title {
      margin-bottom: em(20px);
      @include ifmobile {
        margin-bottom: em(16px);
      }
      span {
        font-weight: 500;
        font-size: em(18px);
        line-height: 167%;
        text-transform: uppercase;
        color: $blue;
        @include ifmobile {
          font-size: em(16px);
          line-height: 150%;
        }
      }
    }

    &_Row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: em(15px);
      @include ifmobile {
        align-items: baseline;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &_Values {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &_Name {
          span {
            font-weight: 500;
            font-size: em(16px);
            line-height: 150%;
          }
        }

        &_Date {
          font-weight: 400;
          font-size: em(16px);
          line-height: 150%;
          color: rgba(26, 26, 26, 0.5);
          @include ifmobile {
            font-size: em(12px);
          }
        }
      }

      &_Actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: em(20px);

        &_View {
          display: flex;
          cursor: pointer;
          width: em(19.08px);
          height: em(14px);
          margin-right: em(25px);
          @include ifmobile {
            margin-right: em(20px);
          }
        }
        &_Upload {
          display: flex;
          cursor: pointer;
          width: em(18px);
          height: em(18px);
          @include ifmobile {
            width: em(16px);
            height: em(16px);
          }
        }
      }
    }
  }
}
